@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  min-height: 100%;
  background-color: #333;
  color: #FFF;
  font-family:'Lato', Arial, Helvetica, sans-serif;
  margin: 0;
}

form {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  background-color: #303030;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

#user-entry{
  padding: 5px 10px;
  width: 50em;
  margin-right: 1em;
}

input[type="submit"], #loadMore {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  transition-duration: 500ms;
  appearance: none;
  border: 1px solid #b4216F;
  background-color: #b4216F;
  color: #FFF;
}

input[type="submit"]:hover, #loadMore:hover {
  outline: 1px solid #b4216F;
  border: 1px solid #b4216F;
  background-color: #de2b8a;
}

#loadMore{
    width: fit-content;
    margin: 3em auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

#result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  flex: 0 0 auto;
  overflow: hidden;
  padding: 0 .5em;
  box-sizing: border-box;
  margin-bottom: 1em;
  max-width: 25%;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.card a{
  font: arial, "sans-serif";
  font-size: 1em;
  color: #FFF;
  padding-left: 5px;
}

.card img {
    width: 100%;
    max-height: 100%;
}

.card a{
    position: absolute;
    bottom: 3px;
    z-index: 1;
    left: .5em;
    right: .5em;
    background-color: rgba(0, 0, 0, .70);
    padding: .5em;
    display: block;
    transition-duration: 500ms;
}

.card a:hover{
  background-color:#b4216F;
}